.projects {
    height: 100vh;
    overflow: hidden;
    padding-bottom: 10px;
    padding-top: 80px;
    /* background: #222; */
    background-color: #1c1b1bf0;
    position: relative;
}

.projects .squares {
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    height: 100%;
    left: 0;
    padding: 3px;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}

.projects .square {
    background: #222;
    /* background: #282727; */
    border-radius: 10px;
    display: block;
    height: calc(10% - 3px);
    position: relative;
    width: calc(10% - 3px);
    z-index: 3;
}

.projects .cricle_left,
.projects .cricle_right {
    background: transparent;
    border: 60px solid orange;
    border-color: #4974b9;
    border-radius: 50%;
    height: 100vh;
    opacity: .1;
    pointer-events: none;
    position: fixed;
    width: 100vh;
    z-index: 1;
    z-index: 11;
}

.projects .cricle_left {
    left: -30vh;
    top: -40vh;
}

.projects .cricle_right {
    bottom: -60vh;
    right: -30vh;
}

.projects .wrapper {
    z-index: 10;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    height: 100%;
}

.projects .wrapper .shine {
    background: linear-gradient(90deg, transparent, hsla(0, 0%, 100%, .075), transparent);
    height: 100%;
    left: 60px;
    pointer-events: none;
    position: fixed !important;
    top: 0;
    width: 200px;
    z-index: 1;
}

.projects .wrapper .line_1,
.projects .line_2 {
    background: #555;
    /* background: var(--cr-border); */
    height: 200px;
    position: fixed;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 1px;
    z-index: 12;
}

.projects .wrapper .line_1 {
    left: 300px;
    top: 60px;
}

.projects .line_2 {
    bottom: 50px;
    right: 200px;
}



.projects .info {
    height: 100%;
    margin: auto;
    max-width: 1300px;
    padding: 0 10px;
    width: 100%;
    z-index: 12;
    position: relative;
}

.projects .info .page_title {
    font-size: 30px;
    text-align: center;
    color: #fff;
}



.swiper-slide img {
    display: block;
    width: 100%;
}

.projects .info  .card{
    background: #333;
    /* background: var(--cr-soft); */
    border: 1px solid #4974b9;
    /* border: 1px solid var(--cr-primary); */
    border-radius: 5px;
    box-shadow: 0 5px 10px #111;
    padding: 10px;
}
.projects .info  .card .image{
    background: #333;
    height: 150px;
    position: relative;
    width: 100%;
    
}
.projects .info  .card .image .img{
    background-color: #333;
    border: 1px solid #4974b9;
    border-radius: 10px;
    height: 180px;
    left: 50%;
    overflow: hidden;
    position: absolute;
    top: -50px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 100%;
    z-index: 5555;
}

.projects .info  .card .image .img *{
    bottom: 0;
    height: 100%;
    left: 0;
    object-fit: cover;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

.projects .info  .card .title{
    color: #4974b9;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 4px;
}
.projects .info  .card .desc{
    display: block;
    font-size: 12px;
    /* line-height: .1 .1; */
    opacity: .7;
    text-align: center;
    color: #fff;
}
.projects .info  .card .btns{
    align-items: center;
    display: flex;
    justify-content: center;
}
.projects .info  .card .btns a{
    background: #4974b9;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    flex: 1 1;
    font-size: 14px;
    gap: 4px;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
}